

body{
    background-color: skyblue;
}

.clouds{
    background-color: white;
    border-radius: 100px;
    height: 100px;
    width: 265px;
    position: relative;
}

.clouds::before, .clouds::after{
    background-color: white;
    border-radius: 100px;
    content: '';
    position: absolute;
}

.clouds::before{
    height: 100px;
    width: 100px;
    top: -45px;
    left: 50px;
}

.clouds::after{
    height: 120px;
    width: 120px;
    top: -60px;
    left: 100px;
}

.cloud1 {
  margin-top: 100px;
  margin-left: 50px;
}

.cloud2 {
  margin-top: 300px;
  margin-left: 150px;
}

.cloud3 {
  margin-top: -300px;
  margin-left: 350px;
}

.cloud4 {
  margin-top: -270px;
  margin-left: 450px;
  background-color: darkgrey;
}

.cloud4::before, .cloud4::after{
    background-color: darkgrey;
}